#headerWrapper {
  position: relative;
  border-bottom: 1px solid gray !important;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

#headerLogo {
  margin: 5px 10px;
}

#logoutButton {
  position: absolute;
  top: 10px;
  right: 25px;
}

#dashboardWrapper {
  margin-top: 20px;
}

#dbTablesWrapper {
  margin-top: 20px;
}
